#page-wrapper
  padding-top 30px
.panel-default
  margin-top 30px !important
.btn-new-custom
    color black
    border 1px solid

@keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)

.loading
    border-radius 50%
    width 24px
    height 24px
    border .25rem solid rgba(gray, 0.2)
    border-top-color black
    animation spin 1s infinite linear
    margin-left 50%

.x-select
    padding 0
    margin 0
    border 1px solid #ccc
    width 120px
    border-radius 3px
    overflow hidden
    background-color #fff
    width 200px
    height 30px
    font-size 15px

.x-select select
    padding 5px 8px
    width 130%
    border none
    box-shadow none
    background-color transparent
    background-image none
    -webkit-appearance none
       -moz-appearance none
            appearance none

.x-select select:focus
    outline none

.loadMore
  margin-left 25px
  cursor pointer

.btn-export-csv
  margin-right 15px

.close-container
  transform rotateY(90deg)
  transition all 0s !important
  *
    height 0px

.container-user
  margin-top 30px

.add-user
  .x-select
    width 90% !important

.btn-add-user-account
  margin-left 30px

.panel-default > .panel-heading
  background-color: #ede9e5

.container-upload-avatar
  text-align center
  .avatar-image
    width 120px
    height 120px
    float left
    z-index 9999
    position relative
    border-radius 100%
  .btn-upload
    background #b97460
    float left
    margin-top 40px
    margin-left 10px
    color #fff
    padding 10px 25px
    border-radius 5px
    cursor pointer
    transition all 0.7s ease
    &:hover
      background #da9b89
