body
  background-color #ede9e5
.nav > li > a:hover, .nav > li > a:focus
  background-color #e2a35d
.nav
  a:hover, a:focus, a:active
    color white !important
.sidebar ul li
  border-bottom 1px solid #e7e3e0
.navbar-default
  background-color #ede9e5
  border-color #e7e3e0
.sidebar ul li a.active
  background-color #e2a35d
a
  color black
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
  background-color #e2a35d
.dropdown-menu
  background-color #ede9e5
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
  color white
  background-color #e2a35d
